<a href="https://colab.research.google.com/github/PravalikaM21/python_course_work/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

**Series**

In [ ]:
prices=[2999,39485,67899,4938,4955]
products = ["wireless Earbuds","smartphone","laptop","smartwatch","Bluetooth speaker"]
product_prices = pd.Series(prices,index=products)
print(product_prices)

wireless Earbuds      2999
smartphone           39485
laptop               67899
smartwatch            4938
Bluetooth speaker     4955
dtype: int64

In [ ]:
print("Mean:",product_prices.mean())

Mean: 24055.2

In [ ]:
print("Sum:",product_prices.sum())

Sum: 120276

In [ ]:
print("Max:",product_prices.max())

Max: 67899

In [ ]:
print("Min:",product_prices.min())

Min: 2999

In [ ]:
print("Head/(starting rows):\n",product_prices.head(3))

Head/(starting rows):
 wireless Earbuds     2999
smartphone          39485
laptop              67899
dtype: int64

In [ ]:
print("tail/(ending rows):\n",product_prices.tail(2))

tail/(ending rows):
 smartwatch           4938
Bluetooth speaker    4955
dtype: int64

In [ ]:
#Apply and Map
print(product_prices.apply(lambda x: f'{x-(x*0.2)}'))

wireless Earbuds      2399.2
smartphone           31588.0
laptop               54319.2
smartwatch            3950.4
Bluetooth speaker     3964.0
dtype: object

In [ ]:
print(product_prices.map(lambda x: f'{x}.00'))

wireless Earbuds      2999.00
smartphone           39485.00
laptop               67899.00
smartwatch            4938.00
Bluetooth speaker     4955.00
dtype: object

In [ ]:
print("Sort by values:\n",product_prices.sort_values())

Sort by values:
 wireless Earbuds      2999
smartwatch            4938
Bluetooth speaker     4955
smartphone           39485
laptop               67899
dtype: int64

In [ ]:
print("Sort by index:\n",product_prices.sort_index())

Sort by index:
 Bluetooth speaker     4955
laptop               67899
smartphone           39485
smartwatch            4938
wireless Earbuds      2999
dtype: int64

In [ ]:
print("Sort by index:\n",product_prices.sort_index(ascending=False))

Sort by index:
 wireless Earbuds      2999
smartwatch            4938
smartphone           39485
laptop               67899
Bluetooth speaker     4955
dtype: int64

In [ ]:
print("value Counts:\n",product_prices.value_counts())

value Counts:
 2999     1
39485    1
67899    1
4938     1
4955     1
Name: count, dtype: int64

**DataFrame**

In [ ]:
data={
    "product":["wireless Earbuds","smartphone","laptop","smartwatch","Bluetooth speaker"],
    "brand":["SoundMax","TechNova","Bytecore","TimeTrack","EchnoBoom"],
    "price":[2999,38774,3874,3834,40000],
    "Stock":[50,30,40,20,60],
    "BestSeller":[True,False,False,True,True],
}
df = pd.DataFrame(data)
print(df)

             product      brand  price  Stock  BestSeller
0   wireless Earbuds   SoundMax   2999     50        True
1         smartphone   TechNova  38774     30       False
2             laptop   Bytecore   3874     40       False
3         smartwatch  TimeTrack   3834     20        True
4  Bluetooth speaker  EchnoBoom  40000     60        True

In [ ]:
print("head (first 2 rows)\n",df.head(2))

head (first 2 rows)
             product     brand  price  Stock  BestSeller
0  wireless Earbuds  SoundMax   2999     50        True
1        smartphone  TechNova  38774     30       False

In [ ]:
print("Tail(last 3 rows)\n",df.tail(3))

Tail(last 3 rows)
              product      brand  price  Stock  BestSeller
2             laptop   Bytecore   3874     40       False
3         smartwatch  TimeTrack   3834     20        True
4  Bluetooth speaker  EchnoBoom  40000     60        True

In [ ]:
print("Shape of Dataframe",df.shape)

Shape of Dataframe (5, 5)

In [ ]:
print("Columns in Dataframe",df.columns)

Columns in Dataframe Index(['product', 'brand', 'price', 'Stock', 'BestSeller'], dtype='object')

In [ ]:
print("Index of Dataframe",df.index)

Index of Dataframe RangeIndex(start=0, stop=5, step=1)

In [ ]:
print("DataFrame Info")
print(df.info())

DataFrame Info
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   product     5 non-null      object
 1   brand       5 non-null      object
 2   price       5 non-null      int64
 3   Stock       5 non-null      int64
 4   BestSeller  5 non-null      bool
dtypes: bool(1), int64(2), object(2)
memory usage: 297.0+ bytes
None

In [ ]:
print("Statistical Summary:\n",df.describe())

Statistical Summary:
               price      Stock
count      5.000000   5.000000
mean   17896.200000  40.000000
std    19626.223763  15.811388
min     2999.000000  20.000000
25%     3834.000000  30.000000
50%     3874.000000  40.000000
75%    38774.000000  50.000000
max    40000.000000  60.000000

In [ ]:
print(df)
print(df.loc[1,"product"])
print(df.loc[3,"Stock"])
print(df.loc[3,"BestSeller"])

print(df.iloc[1,0])
print(df.iloc[3,1])
print(df.iloc[4,2])

             product      brand  price  Stock  BestSeller
0   wireless Earbuds   SoundMax   2999     50        True
1         smartphone   TechNova  38774     30       False
2             laptop   Bytecore   3874     40       False
3         smartwatch  TimeTrack   3834     20        True
4  Bluetooth speaker  EchnoBoom  40000     60        True
smartphone
20
True
smartphone
TimeTrack
40000

In [ ]:
print("Select 4 th row \n",df.iloc[4]) #To select entire row
print("Select 3 th row \n",df.iloc[3])

Select 4 th row
 product       Bluetooth speaker
brand                 EchnoBoom
price                     40000
Stock                        60
BestSeller                 True
Name: 4, dtype: object
Select 3 th row
 product       smartwatch
brand          TimeTrack
price               3834
Stock                 20
BestSeller          True
Name: 3, dtype: object

In [ ]:
print(df)
print("-----Using loc----\n",df.loc[df['BestSeller']== True])
print("-----Using loc----\n",df.loc[df['Stock']<30])

             product      brand  price  Stock  BestSeller
0   wireless Earbuds   SoundMax   2999     50        True
1         smartphone   TechNova  38774     30       False
2             laptop   Bytecore   3874     40       False
3         smartwatch  TimeTrack   3834     20        True
4  Bluetooth speaker  EchnoBoom  40000     60        True
-----Using loc----
              product      brand  price  Stock  BestSeller
0   wireless Earbuds   SoundMax   2999     50        True
3         smartwatch  TimeTrack   3834     20        True
4  Bluetooth speaker  EchnoBoom  40000     60        True
-----Using loc----
       product      brand  price  Stock  BestSeller
3  smartwatch  TimeTrack   3834     20        True